/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
}

ul{
    list-style-type: none;
}

/* BODY */
/* Header */

.banner{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 65px;


    /* Debug */
    border: 1px solid black;
}

/* LEFT BANNER */
.left-banner{
    display: flex;
    align-items: center;
    /* debug */
    border: 1px solid black;
}

.logo{
    width: 50%;
    text-align: center;
    /* debug */
    border: 1px solid black;

}

.generics{
    width: 50%;
    /* debug */
    border: 1px solid black;
}


/* RIGHT BANNER */

.right-banner{
    display: flex;
    /* debug */
    border: 1px solid black;
}

.support{
    align-items: center;
}

.login{

}

/* MAIN */
/* LIGHTBLUE-BOX */
.general-width{
    max-width: 80%;
    margin: 0 auto;
}

.lightblue-box{
    background-color: lightblue;
    max-width: 100%;
}

/* FLEX PIANI DI ABBONAMENTO */
.solution{
    display: flex;
    margin: 35px;

}

.card{
    border: 1px solid grey;
}

.members{
    /* border: 1px solid grey; */
}

/* TEAMBOX */
.team-box{
    border: 1px solid grey;
}


/* PARTNER BOX */
.dual-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dual-column img {
    max-width: 100%;
    height: auto;
    /* Maintain aspect ratio */
    flex: 1 1 auto;
    /* Allow images to grow and shrink */
    object-fit: cover;
}







.triple-column{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.triple-column img{

    height: auto;
    /* Maintain aspect ratio */
    flex: 1 1 auto;
    /* Allow images to grow and shrink */
    object-fit: cover;
}





footer{
    background-color: black;
    color: white;
}

.penta-column{
    display: flex;
    list-style-type: none;
}