/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
}

.button-blue{
    background-color: rgb(17, 0, 255);
    color: white;
    padding: 10px;
    font-size: 13px;
    display: inline-block;
    
}

.button-blue:hover{
    display: block;
}

.button-blue:hover .hbb{
    display: block;
} 


.grey-button{
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
    font-size: 13px;
}

h2{
    margin-left: 25px;
    margin-top: 35px;
}

.col-30{
    width: 30%;
}



/* BODY */
/* Header */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    max-width: 95%;
    margin: 0 auto;
}

/* LEFT BANNER */
.left-banner{
    display: flex;
    align-items: center;
    width: 50%;

}

.logo{
    width: 20%;
    text-align: center;


}

.generics{
    width: 65%;
    font-size: 15px;

}

.generics ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    
}

li{

    margin: 10px;
}

/* RIGHT BANNER */

.right-banner{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: right;
}

.support{
    display:flex;
    
    width: 65%;
    font-size: 15px ;
    list-style-type: none;
    justify-content: space-around;
    
}

.support ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.login{
    display: flex;
    align-items: center;
    
}

.inizia{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.accedi{
    text-decoration: none;


}

/* MAIN */  
/* LIGHTBLUE-BOX */

.lightblue-box{
    background-color: lightblue;
    padding: 15px;
   
}

h1{
    text-align: center;
    margin: 20px;
}



.lightblue-flex{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.flex-info{
    max-width: 30%;
    font-size: 16px;
}
.flex-info i{
    margin-top: 100px;
    display: inline-block;
    font-size: large;
}

.flex-img{
    /* width: 70%; */
    max-width: 70%;    
    
}

.button-lightblue{
    margin: 20px 0px;
    display: inline-block;
    text-decoration: none;
}


/* CONTAINER */
.container{
    max-width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    text-align: left;
    
}

.container a{
    margin-left: 25px;
}

.billing-options {
    display: flex;
    gap: 15px;
    font-family: Arial, sans-serif;
}

.billing-options input[type="radio"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #007bff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 30px;
}

.billing-options input[type="radio"]:checked::before {
    content: "";
    width: 8px;
    height: 8px;
    background: #007bff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2{
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: left;
    max-width: 80%;
}


/* FLEX PIANI DI ABBONAMENTO */
.solution{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: calc((100%-40px)/2);
    margin-top: 35px;
    



}

.card{
    border: 1px solid  rgb(172, 172, 172);
    padding: 8px;
    line-height: 35px;
    
    
}

.unorder-list li{
    display: flex;
    align-items: flex-start;
}

.unorder-list i{
    margin-right: 8px;

}


.card ul{
    line-height: 20px;

    
}

.members{
    text-align: center;
    flex: 1;
    border-bottom: 1px solid rgb(172, 172, 172);
    
    
}

.vantaggi-piano{
    padding: 10px;
}


.card ul{
    list-style-type: none;
    font-size: 15px;
}

.card-piano-list{
    margin-top: 10px;
}

/* TEAMBOX */
.team-box{
    max-width: 80%;
    margin: 0 auto;                      
    border: 1px solid grey;
    margin-bottom: 80px;
    position: relative;
    margin-top: 50px;

}

.team-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: column;
}

.team-button{
    position:absolute;
    right: 10px;
    top: 85px;
}

.team-box h4, .team-box p, .team-box h5{
    line-height: 20px;
    margin: 20px;
    margin-left: 15px;
}

.title-team{
    text-align: center;
}

/* PARTNER BOX */
.partner-box {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    max-width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.partner-img{
    width: 60%;
}

.partner-info{
    text-align: center;
    width: 40%;
    padding: 25px;
    
    
}

.partner-info h3{
    margin: 30px;
    font-size: 25px;
    text-align: left;
}

.partner-info p{
    text-align: left;
    margin: 30px;
    font-size: 15px;
}

.partner-info button{
    color: gray;
    border: 1px solid gray;
    background-color: white;
    font-size: 18px;
    padding: 10px;
}

/* FINE PARTNER BOX */



/* INFO CARD BOX */

.info-card-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: calc((100%-40px)/3);
    /* margin-top: 35px; */
    padding: 25px;
}



.small-card{
    max-width: 30%;
    display: flex;
    flex-wrap: wrap;

}

.small-card h4{
    padding: 10px;
}


/* FOOTER */
.footer{
    background-color: black;
    color: white;
    margin-top: 60px;
        
}

.footer ul li{
    list-style-type: none;
    margin-left: 0px;
    font-weight: 1px;
}

.footer h4{
    font-size: 20px;
}

.footer-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    
}

.footer hr{
    margin-left: 150px;
}

.second-footer{
    margin: 0 auto;
    max-width: 80%;
    height: 60px;
    padding: 15px;
}